/* Importaciones externas */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

/* Variables de color */
:root {
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-violeta-muyOscuro: #1d1e20;
    --color-violeta-oscuro: #1F1346;
    --color-violeta-mediano: #2F1C6A;
    --color-violeta-claro: #673DE6;
    --color-violeta-muyClaro: #e2dbfc;
    --color-violeta-clarisimo: #f4f5ff;
    --color-verde-para-tildes: #1bb89c;

}

/*  Resetos generales   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--color-blanco);
    width: 100%; /* Se cambia de 100vw a 100% según corrección */
    /* prevent overflow */
    /* overflow-x: hidden; /* Se quita overflow-x:hidden según corrección */
}

/* Estilos Mobile First (default) */

.contenedor__responsive {
  margin: 0 auto;
  width: 100%;
}

/* Estilos del Header */
header { /* optimicé el código CSS quitanto la class header innecesaria */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-blanco);
  display: flex;
  align-items: center;
  height: 62px;
  width: 100%;
  box-shadow: none;
}

.container__hero {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.header--scrolled {
  box-shadow: 0 4px 10px #0000001a;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 167px;
  height: 62px;
  padding: 16px 0px 16px 20px;
}

.header__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

/* Estilos de la sección Hero */
.container__textosPrincipales {
  width: 100%; /* was 100vw */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__textosCabecera {
  width: 100%; /* was 100vw */
  padding: 14px 20px 0px 20px;
}

.hero__listItems {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%; /* was 100vw */
  padding: 0px 20px;
}

.hero__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}

.hero__item--ultimoItem {
  margin-bottom: 19px;
}

.hero__tilde {
  font-size: 21px;
  font-weight: 900;
  color: var(--color-verde-para-tildes);
}

.hero__texto {
  color: var(--color-violeta-mediano);
}

.hero__preguntaIcon {
  font-size: 13px;
  font-weight: 900;
  color: var(--color-violeta-oscuro);
}

.hero__seccionPrecio {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.hero__precio {
  color: var(--color-violeta-mediano);
  line-height: 24px;
  font-size: 20px;
}

.hero__precio--signoDolar {
  margin-right: 10px;
}

.hero__precio--monto{
  font-size: 36px;
  font-weight: 900;
}

.hero__3meses {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-violeta-mediano);
  margin-top: 7px;
}

.hero__seccionBotones {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px 0px;
  gap: 12px;
  align-items: center;
}

.hero__boton {
  padding: 0px 20px;
  height: 48px;
  align-items: center;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.hero__garantia {
  display: flex;
  justify-content: flex-start;
}

.hero__textoGarantia {
  font-size: 16px;
  color: var(--color-violeta-mediano);
  font-weight: 400;
  margin-bottom: 30px;
}

.container__imagen {
  margin-top: 30px;
}


.hero__boton--texto {
  color: var(--color-blanco);
  background-color: var(--color-violeta-claro);
  width: 100%;
}

.hero__boton--contador {
  color: var(--color-violeta-mediano);
  background-color: var(--color-violeta-muyClaro);
  width: 100%;
}

.hero__imagen {
  padding: 10px 20px;
  width: 100%; /* was 100vw */
}

h1 {
  color: var(--color-violeta-muyOscuro);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.7px;

}

.h1__underline {
  color: var(--color-violeta-muyOscuro);
  margin-top: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.h1__underline--claro {
  color: var(--color-violeta-claro);
}

/* Estilos de la sección Migración */
.container__migracion {
  width: 100%;
  background-color: var(--color-violeta-oscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion__migracion {
  color: var(--color-blanco);
  background-color: var(--color-violeta-oscuro);
  margin-top: 30px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.migracion__h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}


/*
.migracion__contenedor {
  display: flex;
  flex-direction: column;
}
*/

.migracion__item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-violeta-mediano);
  align-items: flex-start; 
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 16px;
  padding: 32px;
}

.migracion__h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.migracion__iconoContenedor {
  padding: 10px;
  color: var(--color-blanco);
  background-color: var(--color-violeta-claro);
  border-radius: 8px;
  height: 40px;
  width: 40px;
}

.migracion__texto {
  font-size:16px;
  line-height: 24px;
  text-align: left;
}

/* Estilos de la sección footer */
footer {
  background-color: var(--color-violeta-clarisimo);
  padding: 30px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__logoYSocialMedia {
  display: flex;
  flex-direction: column-reverse;
}

.footer__tycYtarjetas {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d5dfff;
  padding-bottom: 20px;
}

.footer__contenedorSocialMedia {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 20px 8px;

}

.footer__logo {
  width: 147px;
  height: 30px;
  margin-top: 20px;
}

.footer__iconoSocialMedia {
  display: flex;
  background-color: var(--color-violeta-mediano);
  color: var(--color-violeta-clarisimo);
  width: 26.88px;
  height: 26.88px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.footer__textosTyC {
  color: var(--color-violeta-mediano);
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 24px;
  gap: 20px;
  padding-top: 24px;
}

.footer__iconosTarjetas {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  max-width: 300px;
}

.footer__iconoMedioPago {
  background-color: var(--color-blanco);
  width: 60px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-violeta-muyClaro);
}

.footer__ultimosTextos {
  display: flex;
  color: var(--color-violeta-mediano);
  flex-direction: column;
  margin: 0px 0px 8px;
  font-size: 14px ;
  padding: 24px 0px 16px;
  gap: 16px;
}

/* CSS para el botón tipo float de Ask Kodee */
.ask__kodee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 9px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: var(--color-violeta-claro);
  color: white;
  border-radius: 17px;
  width: 120px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  z-index: 1000;
  gap: 13px;
}

.img__askKodee {
  width: 16px;
  height: 16px;
}

/* Estilos para que el header sea visible según el viewport::after
para todos los otros estilos solo el logo y el burger menu. Para tamaño
desktop grande, el logo y el menú expandido
*/

.header__notDesktop {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }

.header__desktop {
   display: none;
 }



/* Estilos para celulares grandes y tablets (481px a 768px) */
@media (min-width: 578px) and (max-width: 768px) {

 .contenedor__responsive {
    max-width: 540px;
  }

  .hero__boton, .hero__boton--contador {
    max-width: 508px;
  }

  .migracion__item {
    width: 508px;
  }

  .migracion__contenedor {
    flex-direction: row;
    justify-content: center;
    align-items: center; /* or center if you want vertical centering */
    gap: 20px; /* optional: space between items */
  }

  .migracion__p {
    max-width: 508px;
    text-align: center;
  }

}

/* Estilos para desktops pequeños (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

 .contenedor__responsive {
    max-width: 688px;
  }

  .hero__seccionBotones {
    flex-direction: row;
    align-content: flex-start;
    gap: 15px;
  }

  .hero__boton {
    width: 182px;
  }

  .hero__boton--contador {
    width: 160px;
  }

  .container__textosPrincipales {
    padding: 62px 0 80px;
  }

  .migracion__p {
    max-width: 688px;
    text-align: center;
  }

  .migracion__item {
    width: 688px;
  }

  .footer__logoYSocialMedia {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .footer__contenedorSocialMedia {
    gap: 32px;
  }

  .footer__iconosTarjetas {
    flex-wrap: nowrap;
    gap: 25px;
  }
}

/* Estilos para pantallas grandes de escritorio (desde 1025px en adelante) */
@media (min-width: 1025px) {

  header {
    height: 88px;
    width: 100%;
  }

  .container__hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 50px;
  }

  .hero__seccionBotones {
    flex-direction: row;
    align-content: flex-start;
    gap: 15px;
  }

  .hero__boton {
    width: 182px;
  }

  .hero__boton--contador {
    width: 160px;
  }

  .header__notDesktop {
    display: none;
  }

  .header__desktop {
    display: flex;
  }

  .container__migracion {
    width: 100%;
    background-color: var(--color-violeta-oscuro);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
  }

  .migracion__item {
    display: flex;
    flex-direction: column;
    background-color: var(--color-violeta-mediano);
    align-items: flex-start; 
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    padding: 20px 32px;
    height: 256px;
    width: 300px;
    max-width: 360px;
  }

  .migracion__p {
    max-width: 1030px;
    text-align: center;
    padding: 0 40px;
  }

  h1 {
    font-size: 27px;
    max-width: 400px;
  }

  .hero__texto, .hero__3meses, .hero__precio, .hero__precio--signoDolar, .hero__precio--monto {
    color: var(--color-violeta-muyOscuro);
  }

}